%p
  Hodnocení agenta
  %strong= resource.character
  v misi
  %strong= resource.mission

= simple_form_for resource do |f|
  .form-inputs
    = f.association :author, label_method: :full_name,  disabled: disable_flag if can? :create, resource, :author
    = f.association :mission, label_method: :full_name, as: :chosen_select#, as: :hidden
    = f.association :character, label_method: :full_name, as: :chosen_select#, as: :hidden
    = f.input :content
  .form-actions
    =f.button :submit
