%h2 Přehled hodnocení

%table#evaluations
  %tr
    %th Mise
    %th Autor hodnocení
    %th Hodnocený agent
    %th Hodnocení
    %th
    %th
    %th

  - @evaluations.each do |evaluation|
    %tr[evaluation]
      %td= linked_name evaluation.mission
      %td= linked_name evaluation.author
      %td= linked_name evaluation.character
      %td= link_to 'Zobrazit', evaluation
      -if can? :edit, evaluation
        %td= link_to 'Upravit', edit_evaluation_path(evaluation)

.meta_links
  -if can? :create, :evaluations
    = link_to 'Nové hodnocení', new_evaluation_path
