%dl
  %dt Mise
  %dd= linked_name @evaluation.mission
  %dt Autor hodnocení
  %dd= linked_name @evaluation.author
  %dt Hodnocený agent
  %dd= linked_name @evaluation.character

%div[@evaluation]
  =@evaluation.content


.meta_links
  -if can? :update, @evaluation
    = link_to 'Upravit hodnocení', edit_evaluation_path(@evaluation)
    \|
  = link_to 'Přehled hodnocení', evaluations_path
