%table#mission_attendances.sortable
  %thead
    %tr
      %th Mise
      %th Autor
      %th Hlášení
      -if can? :update, :mission_attendances
        %th
      -if can? :empty, :mission_attendances
        %th
  %tbody
    - collection.each do |attendance|
      %tr[attendance]
        %td= linked_name attendance.mission
        %td= linked_name attendance.character
        %td
          -if attendance.filled?
            = link_to 'Zobrazit', attendance
          -else
            Nedodáno
        -if can? :update, attendance
          %td
            = link_to 'Upravit', edit_resource_path(attendance)
        -if can? :empty, attendance
          %td
            = button_to "Smazat", empty_resource_path(attendance), method: :delete, confirm: "Opravdu smazat hlášení?"
