<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @character.name %>
</p>

<p>
  <b>Born:</b>
  <%= @character.born %>
</p>

<p>
  <b>Country:</b>
  <%= @character.country %>
</p>

<p>
  <b>Assignment:</b>
  <%= @character.assignment %>
</p>

<p>
  <b>Specialisation:</b>
  <%= @character.specialisation %>
</p>


<%= link_to 'Edit', edit_character_path(@character) %> |
<%= link_to 'Back', characters_path %>
