.character_show
  .description.row
    .portrait
      = image_tag @character.portrait.to_s if @character.portrait?

    %dl.attributes
      - [:number, :name, :born, :country, :assignment, :specialisation, :user].each do |attr|
        %dt= Character.human_attribute_name(attr)
        %dd= resource.send(attr)

  %section.attendances.row
    %h3 Účast v misích

    %table
      %thead
        %tr
          %th Mise
          %th Zúčastnění agenti
      %tbody
        - @character.missions.each do |mission|
          %tr[mission]
            %td= link_to(mission.full_name, mission)
            %td= linked_codes(mission.characters, @character)

  %section.reports.row
    %h3 Hlášení
    %ul
      = render partial: "report", collection: @character.attendances_with_missions, as: :attendance

  %section.evaluations.row
    %h3 Hodnocení agenta
    - missions = @character.evaluations.group_by_mission
    %ul.tabs.vertical
      - klass = "active"
      - missions.each do |mission, evaluations|
        %li{class: klass}= link_to mission.full_name, "##{dom_id(mission, :eval)}"
        - klass = nil
    %ul.tabs-content
      - klass = "active"
      - missions.each do |mission, evaluations|
        %li{id: "#{dom_id(mission, :eval)}Tab", class: klass}
          = render partial: "shared/evaluation", collection: evaluations, as: :evaluation
          - klass = nil
