= simple_form_for resource do |f|
  .form-inputs
    = f.input :number, disabled: disable_flag
    = f.input :name
    = f.input :date
    = f.input :location
    = f.input :description, input_html: { rows: 3 }
    = f.association :characters, as: :chosen_select, input_html: { multiple: true }, label_method: :full_name
  .form-actions
    = f.button :submit
