= semantic_form_for @mission do |f|
  = f.inputs do
    = f.input :number, input_html: { readonly: disable_flag }
    = f.input :name
    = f.input :date
    = f.input :location
    = f.input :description
  
  = f.buttons do
    = f.commit_button
