%h1 Mise

%table#missions
  %tr
    %th Mise
    %th Datum
    %th Lokace
    %th Zúčastnění agenti
    %th

  - @missions.each do |mission|
    %tr[mission]
      %td= link_to mission, mission
      %td= mission.date
      %td= mission.location
      %td= linked_codes(mission.characters)
      %td
        -if can? :update, mission
          =link_to 'Upravit', edit_mission_path(mission)

.meta_links
  -if can? :create, :missions
    = link_to 'Nová mise', new_mission_path
