%h2= @mission

%p #{@mission.date}, #{@mission.location}

%p= @mission.description

.meta_links
  -if can? :update, @mission
    = link_to 'Upravit misi', edit_mission_path(@mission)
    \|
  = link_to 'Přehled misí', missions_path
