.mission_show
  .description.row
    .panel
      %strong #{resource.date}, #{resource.location}
      = simple_format(resource.description)

  %section.characters.row
    %h3 Zúčastnění agenti
    -if resource.characters
      %ul
        = render partial: "character", collection: resource.characters, as: :character
    -else
      %p Mise se nezúčastnili žádní agenti

  %h3 Hlášení
  %section.reports.row
    = render partial: "report", collection: @mission.attendances_with_characters, as: :attendance

  %section.evaluations.row
    %h3 Hodnocení agentů
    - characters = resource.evaluations.group_by_character
    %ul.tabs.vertical
      - klass = "active"
      - characters.each do |character, evaluations|
        %li{class: klass}= link_to character.full_name, "##{dom_id(character, :eval)}"
        - klass = nil
    %ul.tabs-content
      - klass = "active"
      - characters.each do |character, evaluations|
        %li{id: "#{dom_id(character, :eval)}Tab", class: klass}
          = render partial: "shared/evaluation", collection: evaluations, as: :evaluation
          - klass = nil

          -if can?(:create, :evaluations)
            %p= link_to('Přidat hodnocení', new_evaluation_path({evaluation: {mission_id: resource.id, character_id: character.id}}))
