%h2= @mission

%p #{@mission.date}, #{@mission.location}

%p= @mission.description

%h3 Zúčastnění agenti
-if @mission.characters
  %ul#characters
    = render partial: "character", collection: @mission.characters, as: :character
-else
  %p Mise se nezúčastnili žádní agenti

%h3 Hlášení
%ul#reports
  = render partial: "report", collection: @mission.attendances_with_characters, as: :attendance

#evaluations
  %h3 Hodnocení agentů
  = render partial: "shared/evaluations", collection: @mission.attendances_with_evaluations, as: :attendance, locals: {title: :character}

.meta_links
  -if can? :update, @mission
    = link_to 'Upravit misi', edit_mission_path(@mission)
    \|
  = link_to 'Přehled misí', missions_path
