%h2= @mission

%p #{@mission.date}, #{@mission.location}

%p= @mission.description

#characters
  %h3 Zúčastnění agenti
  -if @mission.characters
    %ul#characters
      -@mission.characters.each do |character|
        %li= link_to character.full_name, character
  -else
    %p Mise se nezúčastnili žádní agenti

#reports
  %h3 Hlášení
  = render partial: "report", collection: @mission.attendances, as: :attendance

#evaluations
  %h3 Hodnocení agentů
  = render partial: "evaluations", collection: @mission.attendances_with_evaluations, as: :attendance

.meta_links
  -if can? :update, @mission
    = link_to 'Upravit misi', edit_mission_path(@mission)
    \|
  = link_to 'Přehled misí', missions_path
