= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"
-# fall back to local jQuery if necessary
:javascript
  window.jQuery || document.write("<script src='#{javascript_path('jquery')}'>\x3C/script>")
= javascript_include_tag "tablesorter"
= javascript_include_tag "application"


-#  Append your own using content_for :javascripts
= yield :javascripts

= analytics_init if Rails.env.production?
