!!! 5
%html{:lang => "cs"}
  = render "head"

  %body{ :class => "#{ controller.controller_name }" }
    #container
      = render "header"

      #main.row{ :role => "main" }
        #page_title
          %h2= page_title
          = render "near_title"
        = render "flashes"
        = yield

      = render "footer"
